<h1>Editing UDID</h1>

<%= semantic_form_for @udid do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= f.buttons do %>
    <%= f.submit "Save", :class => "btn primary large" %>
  <% end %>
<% end %>

