<%= raw header_for_page(@user.screen_name) %>

<table>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				UDID
			</th>
		</tr>
	</thead>
	<% @user.udids.each do |udid| %>
	<tr>
		<td>
			<%= udid.name %>
		</td>
		<td>
			<%= udid.udid %>
		</td>
	</tr>
	<% end %>
</table>
