
$leftcolumnsize: 98.5%;

form.formtastic fieldset { overflow: visible; }

form.formtastic fieldset > ol > li { 
  margin-bottom: 1em;
  overflow: visible;
}
form.formtastic fieldset > ol > li label { display:block; width: 100%; padding-top:0; margin-bottom: 5px; }

form.formtastic fieldset > ol > li p.inline-errors { margin:0.5em 0 0 0; }
form.formtastic fieldset > ol > li ul.errors { margin:0.5em 0 0 0; }

form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input { width:$leftcolumnsize; }

form.formtastic fieldset > ol > li.string input[size],
form.formtastic fieldset > ol > li.password input[size],
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] { width:auto; max-width:$leftcolumnsize; }

form.formtastic fieldset > ol > li.search input { width:$leftcolumnsize; }
form.formtastic fieldset > ol > li.search input[size] { width:auto; max-width:$leftcolumnsize; }

form.formtastic fieldset > ol > li.text textarea { width:$leftcolumnsize; }
form.formtastic fieldset > ol > li.text textarea[cols] { width:auto; max-width:$leftcolumnsize; }

form.formtastic fieldset.buttons {
  padding-left: 0;
  margin-top: 0px;
}

form.formtastic label abbr { display:none; }

form.formtastic fieldset li {
  margin-bottom: 10em;
}

form.formtastic fieldset.inputs { margin-bottom: 0.5em; }
form.formtastic fieldset legend { font-weight: bold; }

form.formtastic fieldset.inputs { font-size: 20px; }
form.formtastic fieldset.buttons ol > input {
  font-size: 24px;
}

form.formtastic fieldset.inputs .error { color: rgb(207, 101, 87) }
