@import "compass"
@import "compass/typography/lists"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

$default-border-radius: 2px

html
  font: 13px/1.231 helvetica, clean, sans-serif
  background-image: url("/images/crosses.png")
  background-repeat: repeat
  background-attachment: fixed
  background-position: center top

#hd::after, #bd::after, #ft::after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

body
  text-align: left

#doc
  +border-radius
  +single-box-shadow(#aaa, 1px, 1px, 3px, 1px)
  margin: 2em auto
  text-align: left
  width: 500px
  border: 1px solid #ddd
  padding: 1em
  background-color: white

a, a:hover, a:visited
  color: blue

h1
  font-size: 1.5em

h2
  font-size: 1.3em

h3
  font-size: 1.1em

#hd
  margin-bottom: 2em

#hd h1
  font-size: 1.5em

.signin-bar
  float: right
  +horizontal-list
