@import "compass"
@import "compass/typography/lists"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/layout.scss"

+sticky-footer(0px, "#layout", "#layout_footer", "#footer")

#footer
  text-align: center

$default-border-radius: 2px

$black: #333
$dkblue: rgb(14, 41, 70)
$ltblue: rgb(16, 115, 136)
$highlight: rgb(207, 101, 87)

html
  font: 13px/1.231 helvetica, clean, sans-serif
  background-image: url("/images/crosses.png")
  background-repeat: repeat
  background-attachment: fixed
  background-position: center top

#hd::after, #bd::after, #ft::after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

body
  text-align: left

#doc
  +border-radius
  +single-box-shadow(#aaa, 1px, 1px, 6px, 1px)
  text-align: left
  width: 500px
  border: 1px solid $dkblue
  background-color: white

a, a:hover, a:visited
  color: $highlight

h1, h2, h3
  color: $highlight
  a
    text-decoration: none

p
  margin-bottom: 1em

h1
  font-size: 1.5em

h2
  font-size: 1.3em

h3
  font-size: 1.1em

#hd
  margin-bottom: 0.5em

#hd h1
  font-size: 1.5em

.signin-bar
  float: right
  +horizontal-list

#step-header
  margin-bottom: 1em

#step-list
  li
    padding: 5px 0
    font-size: 24px

#new-udid
  font-size: 20px
  
.choicebox
  float: left
  width: 240px
  padding-top: 1em
  
.centered
  text-align: center

#login

#search
  margin-left: 10px
