@import "compass"
@import "compass/typography/lists"

html
  font: 13px/1.231 helvetica, clean, sans-serif
  background-color: #eee

#hd::after, #bd::after, #ft::after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

body
  text-align: left

#doc
  margin: 2em auto
  text-align: left
  width: 500px
  border: 1px solid #ddd
  padding: 1em
  background-color: white

a, a:hover, a:visited
  color: blue

h1
  font-size: 1.5em

h2
  font-size: 1.3em

h3
  font-size: 1.1em

#hd
  margin-bottom: 2em

#hd h1
  font-size: 1.5em

.signin-bar
  float: right
  +horizontal-list
