<%= raw header_for_page("Faq", false) %>

<h2>Privacy</h2>

<p>
  Be aware that you are exposing something that has generally considered
  to be private. Some companies, especially advertising platforms, use
  UDIDs to track users. By making your UDID public, it's
  possible for them to connect a UDID with a Twitter account.
  It's perfectly reasonable that you may not care about these things.
  We don't, hence this web site.
</p>

<h2>Safety</h2>

<p>
  By making your UDID public, anyone can create and send you an app that
  will run on your iOS device. Since these builds are not audited by anyone, 
  it's possible the software will do malicious things. Some examples might include: 
  stealing all your contacts or exploit a bug to damage your phone. 
  For this reason, you should <strong>only install apps from people you trust</strong>. 
  You should always know and trust the creator of an app you plan to install.
</p>
