<%= raw header_for_page("FAQ", false) %>

<h2>Will this affect my privacy?</h2>

<p>
  Yes. Be aware that you are exposing something that has generally considered
  to be private. Some companies, especially advertising platforms, use
  UDIDs to track users. By making your UDID public, it's
  possible for them to connect a UDID with a Twitter account.
  It's perfectly reasonable that you may not care about these things.
  We don't, hence this web site.
</p>

<h2>Is this dangerous?</h2>

<p>
  Not really, but there are some dangers. By making your UDID public, anyone can create
  and send you an app that will run on your iOS device. Since these builds are not audited by
  anyone, it's possible the software will do malicious things. Some examples might include: 
  stealing all your contacts or exploit a bug to damage your phone. 
  For this reason, you should <strong>only install apps from people you trust</strong>. 
  You should always know and trust the creator of an app you plan to install.
</p>

<h2>Why do I have to login with Twitter?</h2>

<p>
  Because makes login simple. There's no account information for you to remember or us to have to track. Most all developers all developers we know are on Twitter. We ask for the minimum amount of access to your twitter account, so we don't even have the ability to tweet on your behalf.
</p>
