<%= raw header_for_page("Not Found", true) %>

<div class="row">
	<div class="span16">
	<p>User not found, please try another username.</p>
	</div>
</div>

<br><br>

<div class="row">
	<div class="span16">
		<%= link_to	"« Back", :back, :class => "btn large" %>
	</div>
</div>