<h2>Privacy and Safety</h2>
<p>There are <b>two important things</b> you should know before listing UDID here.</p>

<h3>1. Your privacy will be impacted</h3>
<p>By making your UDID public, anyone with a beta build of any application will be able to tell whether or not you have access to that beta. Further, anyone with access to analytic data which uses the UDID to track devices (such as advertising companies) will be able to trace your UDID back to your personal identity. It's perfectly reasonable that you may not care about these things. Personally, we don't not.</p>

<h3>2. You may receive unsafe applications</h3>
<p>By making your UDID public, anyone can create and send you an app that will run on your device. Since these builds are not screened by Apple or anyone else, it's possible for them to do malicious things like steal all your contacts, exploit a bug to damage your phone, or any number of nasty things. For this reason, you should <b>NEVER INSTALL UNSOLICITED BUILDS</b>. You should always know and trust the creator of an app you plan to install.</p>

<p>If you think we're forgetting something, feel free to <a href="mailto:udidirectory@fadeover.org">let us know.</a></p>

<%= link_to	"Back", :controller => :public, :action => :index %>